@media (max-width: 800px) {
    #piePagina{
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .grid {
        display: grid; 				   
        grid-template-columns: 100%; 
          
     }
 }
